html, body {
    background-image: url('mountains.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    overflow-x: hidden;
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    color: #000;
    font-size: 12px;
    margin: 0;
    padding: 0;
}    

.wrap {
    width: 100%;
    height: auto;
    min-width: 900px;
    margin: 0 auto;
}

.social {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.social li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;

}

.social a {
    text-decoration: none;

}

.social img {
    width: 40px;
    height: 40px;
}

.header {
    text-align: center;
    background: rgba(0,0,0,0.15);
    width: 100%;
    height: 150px;
    margin: 0;
    margin-top: 60px;
    padding-bottom: 5px;
}

h1 {   
   font: 'Berkshire Swash', Helvetica, sans-serif;
   color: #2b2b2b;
   text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
   font-size: 75px;
   margin: 0;
}

.headPara1 {
    color: #2b2b2b;
    font-size: 20px;
    margin: 0;
}

.headPara2 {
    color: #2b2b2b;
    font-size: 12px;
    margin: 0;
}

.nav {
    width: 90%;
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    line-height: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    text-align: center;
    display: inline-block;
}

.menu li a, .dropbtn {
    display: block;
    color: #000;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover, .dropdown:hover .dropbtn {
  /*  background-color: rgba(0,0,0,0.15);
    opacity: 0.8;  */
    color: #fff;
    text-shadow: 1px 1px 0px #000, 4px 4px 0px rgba(0,0,0,0.15);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute; 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}

.dropdown-content a:hover {
    background-color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    margin-top: 150px;

}

.article {
    background-color: #fff;
    opacity: 0.7;
    height: auto;
    margin-left: 100px;
    width: 70%;
    padding: 30px;
    float: left;
    margin-bottom: 50px;
}

.article p {
    font-family: Helvetica;
    font-size: 17px;
    text-indent: 30px;
    line-height: 25px;
}

.snippet1 {
    margin: auto;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
} 

iframe {
    width: 500px;
    height: 500px;
}
/*
.snippet {
    margin: auto;
    height: auto;
    padding: 10px;
    padding-bottom: 20px;
    border-top: 1px dashed black;
}
*/
.aside {
    float: right;
    clear: right;
    width: 15%;
    height: 305px;
    text-align: center;
    background-color: #fff;
    padding-top: 10px;
}

.quotes h3 {
    margin-top: 20px;
}

blockquote {
    font-size: 15px;
}

.signUp {
    margin-top: 5px;
}


.footer {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 50px;
    margin: 0;  
    clear: both;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}

.footer li {
    list-style-type: none;
    display: inline;
    padding: 5px 20px 5px 20px;
    color: #fff;
}

