/*======================== Body Elements ============*/

html, body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,f4a4b1+26,d585f2+65,ff9be1+99 */
  background: #fcecfc no-repeat center center; /* Old browsers */
  background: -moz-linear-gradient(top, #fcecfc -30%, #f4a4b1 26%, #d585f2 65%, #ff9be1 99%) no-repeat center center; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcecfc -30%,#f4a4b1 26%,#d585f2 65%,#ff9be1 99%) no no-repeat center center; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcecfc -30%,#f4a4b1 26%,#d585f2 65%,#ff9be1 99%) no-repeat center center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff9be1',GradientType=0 ); /* IE6-9 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #696969;
} 

.container {
  margin-top: 250px;
}

h3 {
  text-align: center;
  padding-top: 10px;
}

iframe {
  width: 500px;
  height: 500px;
  display: block;
  margin: auto;
}

 /*================== Header ================*/

.header {
  width: 100%;
  height: 150px;
  /*background: #ffc0cb;*/
  position: absolute;
  top: 40px;
}

.header h1 {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #696969;
  text-shadow: 1px 1px 0px #ffe4e1, 4px 4px 0px rgba(0,0,0,0.15);
  font-size: 75px;
  text-align: left;
  margin-left: 200px; 
  margin-top: 30px;

}

.shoppingPic {
  position: absolute;
  top: 5px;
  left: 20px;
}

.shoppingPic img {
  width: 150px;
  height: 100px;
  opacity: 0.4;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 50%;
  z-index: 1000;
}

/*========================= Navigation ================*/

.navBG {
  background: #ffc0cb;
  width: 100%;
  height: 40px;
  position: fixed;
  top: -0%;
  margin: 0;
  padding: 0;
}

.navBar {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: right;
  position: fixed;
  top: -0%;
  
}

.navBar li{
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #ffe4e1, 4px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
  margin: 0;
  padding: 40px;
  list-style-type: none;
  font-size: 35px;
  color: #c71585;
  display: inline;
}

.navBar a {
  text-decoration: none;
  color: #696969;
}

.navBar a:hover {
  color: #ededed;
  text-shadow: 1px 1px 0px #f44280, 4px 4px 0px rgba(0,0,0,0.15);

}

/*======================== Footer =====================*/

.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #696969;
  background: rgba(0,0,0,0.15);
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 100px;
}

table {
  /*align-self: center;*/
  font-size: 15px;
  margin-right: 50px;
}

thead {
  text-align: left;
}

th {
  padding-bottom: 5px;
}

td {
  text-align: left;
  padding-bottom: 5px;
}

 /*========================Social Bar =================*/

.social {
  width: 40px;
  height: auto;
}

.social ul {
  position: fixed;
  right: 0;
  margin: auto;
} 

.social li {
  list-style-type: none;
}

.social img {
  height: 30px;
  width: 30px;
  display: block;
  margin: auto;
  padding: 1px;
}




/*=========== Second Option ===============*/



/*
html, body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,f4a4b1+26,d585f2+65,ff9be1+99 */
/*  background: #fcecfc no-repeat center center fixed; /* Old browsers */
 /* background: -moz-linear-gradient(top, #fcecfc -30%, #f4a4b1 26%, #d585f2 65%, #ff9be1 99%) no-repeat center center; /* FF3.6-15 */
 /* background: -webkit-linear-gradient(top, #fcecfc -30%,#f4a4b1 26%,#d585f2 65%,#ff9be1 99%) no no-repeat center center; /* Chrome10-25,Safari5.1-6 */
 /* background: linear-gradient(to bottom, #fcecfc -30%,#f4a4b1 26%,#d585f2 65%,#ff9be1 99%) no-repeat center center; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff9be1',GradientType=0 ); /* IE6-9 */   
/*  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #696969;
} 
*/
/*
.container {
	margin-top: 250px;
}

.header {
	width: 100%;
	height: 150px;
	/*background: #ffc0cb;*/
 /* 
	position: absolute;
	top: 40px;
}

.header h1 {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #696969;
  text-shadow: 1px 1px 0px #ffe4e1, 4px 4px 0px rgba(0,0,0,0.15);
  font-size: 75px;
  text-align: left;
  margin-left: 200px; 
  margin-top: 30px;

}

.shoppingPic {
  position: absolute;
  top: 5px;
  left: 20px;


  
}
.shoppingPic img {
  width: 150px;
  height: 100px;
  opacity: 0.4;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 50%;
  z-index: 1000;
}

.navBG {
	background: #ffc0cb;
	width: 100%;
	height: 40px;
	position: fixed;
	top: -0%;
	margin: 0;
	padding: 0;

}
.navBar {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: right;
  position: fixed;
  top: -0%;
  
}
.navBar li{
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #ffe4e1, 4px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
  margin: 0;
  padding: 40px;
  list-style-type: none;
  font-size: 35px;
  color: #c71585;
  display: inline;
}

.navBar a {
  text-decoration: none;
  color: #696969;
}

.navBar a:hover {
  color: #ededed;
  text-shadow: 1px 1px 0px #f44280, 4px 4px 0px rgba(0,0,0,0.15);

}

iframe {
  width: 500px;
  height: 500px;
  display: block;
  margin: auto;
}

h3 {
  text-align: center;
}

.social {
  width: 40px;
  height: auto;
}
.social ul {
  position: fixed;
  right: 0;
  margin: auto;
} 

.social li {
  list-style-type: none;
}

.social img {
  height: 30px;
  width: 30px;
  display: block;
  margin: auto;
  padding: 1px;
}


.footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #696969;
  background: rgba(0,0,0,0.15);
  width: 100%;
  height: auto;
  padding: 10px;
}

table {
  /*align-self: center;*/
 /* 
  font-size: 15px;
  margin-right: 50px;
}
thead {
  text-align: left;
}
th {
  padding-bottom: 5px;
}
td {
  text-align: left;
  padding-bottom: 5px;
}
*/
