<style>
<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css' />

<style type="text/css">
html, body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,f4a4b1+26,d585f2+65,ff9be1+99 */
  background: #fcecfc no-repeat center center fixed; /* Old browsers */
  background: -moz-linear-gradient(top, #fcecfc 0%, #f4a4b1 26%, #d585f2 65%, #ff9be1 99%) no-repeat center center fixed; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fcecfc 0%,#f4a4b1 26%,#d585f2 65%,#ff9be1 99%) no no-repeat center center fixed; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fcecfc 0%,#f4a4b1 26%,#d585f2 65%,#ff9be1 99%) no-repeat center center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff9be1',GradientType=0 ); /* IE6-9 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
} 

h1 {
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #696969;
  text-shadow: 1px 1px 0px #ffe4e1, 4px 4px 0px rgba(0,0,0,0.15);
  margin-top: 10%;
  margin-left: 10%;
  font-size: 100px;
  

}

.shoppingPic {
  position: absolute;
  top: 11%;
  right: 50%;
  left: 60%;
  display: block;
  margin: auto;
}
.shoppingPic img {
  width: 400px;
  height: 300px;
  opacity: 0.4;
  margin-top: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 50%;
}

.navBar {
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  position: absolute;
  bottom: 40px;
  
}

.navBar li{
  font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
  text-shadow: 1px 1px 0px #ffe4e1, 4px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
  margin: 0;
  padding: 40px;
  list-style-type: none;
  font-size: 35px;
  color: #c71585;
  display: inline;
}

.navBar a {
  text-decoration: none;
  color: #696969;
}

.navBar a:hover {
  color: #ededed;
  text-shadow: 1px 1px 0px #f44280, 4px 4px 0px rgba(0,0,0,0.15);

}

<style>





</style>	